@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";


body {
    font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light background */

  }
  
  ::-webkit-scrollbar-thumb {
    background: #F58E26; /* Match your primary theme color */
  
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #6B74E1; /* Slightly lighter when hovered */
  }
  